@using Microsoft.AspNetCore.Identity

@model IEnumerable<Unite.Models.Event>
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Nadchodzące wydarzenia</h1>

<p>
    <a asp-action="Create">Zaplanuj wydarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (item.AdminId == new Guid(_userManager.GetUserId(User)))
                {
                    <span>
                        | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
