@model IEnumerable<Unite.Models.Friendship>

@{
    ViewData["Title"] = "Zaproś do wydarzenia";
}

<h1>Zaproś do wydarzenia</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa użytkownika
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Profile" asp-route-id="@item.LeftSideId">
                        @Html.DisplayFor(modelItem => item.LeftSide.UserName)
                    </a>
                </td>
                <td>
                    <form asp-controller="Events" asp-action="Invite" asp-route-participantId="@item.LeftSideId" asp-route-eventId="@(Context.Request.Query["eventId"].ToString())" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)" method="post">
                        <button type="submit" class="btn btn-primary">
                            Zaproś do spotkania
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
