@model IEnumerable<Unite.Models.Friendship>

@{
    ViewData["Title"] = "Moi znajomi";
}

<h1>Moi znajomi</h1>

<form asp-action="Search" method="get">
    <label>
        Szukaj znajomych
        <input name="match" type="text" />
    </label>
    
    <button type="submit">
        Szukaj
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa użytkownika
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftSide.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Profile" asp-route-id="@item.LeftSide.Id">
                    @Html.DisplayFor(modelItem => item.LeftSide.UserName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftSide.CreatedDate)
            </td>
            <td>
                @if (item.State == Friendship.FriendshipState.Accepted)
                {
                    // Przyjaciel
                    <form asp-controller="Friends" asp-action="Delete" asp-route-id="@item.LeftSideId" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)" method="post">
                        <button type="submit" class="btn btn-primary">
                            Usuń ze znajomych
                        </button>
                    </form>
                }
                else
                {
                    // Zapraszający
                    <form asp-controller="Friends" asp-action="Accept" asp-route-id="@item.LeftSideId" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)" method="post">
                        <button type="submit" class="btn btn-primary">
                            Zaakceptuj zaproszenie
                        </button>
                    </form>
                    <form asp-controller="Friends" asp-action="Cancel" asp-route-id="@item.LeftSideId" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)" method="post">
                        <button type="submit" class="btn btn-danger">
                            Odrzuć zaproszenie
                        </button>
                    </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
