@using Microsoft.AspNetCore.Identity
@using Unite.Data

@inject UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _context
@model IEnumerable<Unite.Models.ApplicationUser>

@{
    ViewData["Title"] = "Search";
}

<h4>Szukaj znajomych</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @if(item.RightSideFriendships.Any(r => r.LeftSideId == new Guid(_userManager.GetUserId(User)) && r.State == Friendship.FriendshipState.Accepted))
                    {
                        // Przyjaciel
                        <form asp-controller="Friends" asp-action="Delete" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                            <button type="submit" name="delete" value="@item.Id">
                                Usuń ze znajomych
                            </button>
                        </form>
                        
                    }
                    else if (item.RightSideFriendships.Any(r => r.LeftSideId == new Guid(_userManager.GetUserId(User))))
                    {
                        // Zaproszony do znajomych
                        <a asp-action="Cancel" asp-route-id="@item.Id">Anuluj zaproszenie</a>
                    }
                    else if (item.LeftSideFriendships.Any(l => l.RightSideId == new Guid(_userManager.GetUserId(User))))
                    {
                        // Zapraszający
                        <a asp-action="Accept" asp-route-id="@item.Id">Zaakceptuj zaproszenie</a>
                    }
                    else
                    {
                        // Nieznajomy
                        <form asp-controller="Friends" asp-action="Add" asp-route-id="@item.Id" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)" method="post">
                            <button type="submit" class="btn btn-primary">
                                Dodaj do znajomych
                            </button>
                        </form>
                    }
                    @Html.ActionLink("Profile", "Profile", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>